# Copy to .env before running docker compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ca_db

ASPNETCORE_ENVIRONMENT=Production
JWT_KEY=ChangeMeToAVeryStrongLongSecretKey
JWT_ISSUER=ca_backend
JWT_AUDIENCE=ca_frontend
